<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main class="mt-3">
            <div class="container">

                <div class="row align-items-center">

                    <!-- Search Bar -->
                    <div class="col-auto position-relative">
                        <form action="/sets" method="GET" class="d-flex">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </span>
                                <input class="form-control" type="text" id="search" name="query"
                                    placeholder="Search sets..." value="<%= currentQuery %>">
                            </div>

                            <input type="hidden" name="sort" value="<%= currentSort %>">
                            <input type="hidden" name="order" value="<%= currentOrder %>">

                        </form>
                    </div>

                </div>

                <div class="my-3 fw-medium" id="setsCount">
                </div>

                <hr>

                <!-- Filters -->
                <div class="row align-items-center mb-3">
                    <!-- Sort By -->
                    <div class="col-md-auto d-flex align-items-center my-2">
                        <label for="sortBy" class="me-2">Sort by</label>
                        <div class="flex-grow-1">
                            <select class="form-select" id="sortBy">
                                <option value="name" selected>Name</option>
                                <option value="series_ID">Series</option>
                                <option value="releaseDate">Release Date</option>
                            </select>
                        </div>
                    </div>

                    <!-- Order by -->
                    <div class="col-md-auto d-flex align-items-center my-2">
                        <label for="sortOrder" class="me-2">Order</label>
                        <select class="form-select" id="sortOrder" aria-label="Default select example">
                            <option value="asc" selected>Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>

                </div>

                <div>
                    <% if (currentSort==='series_ID' ) { %>
                        <% seriesList.forEach((series)=> { %>
                            <h4 class=mt-3>
                                <%= series.name %> Series
                            </h4>

                            <div
                                class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-3">
                                <% setList.forEach((set)=> { %>
                                    <% if (set.series_ID===series.id) { %>
                                        <div class="col">
                                            <div class="card p-3" style="height: 273px">
                                                <div class="d-flex align-items-center mb-2">
                                                    <% if (set.symbol) { %>
                                                        <img src="<%= set.symbol %>" alt="Symbol"
                                                            class="symbol-img me-2">
                                                        <% } %>
                                                            <div class="fs-6 fw-medium" href="/sets/<%= set.id %>">
                                                                <%= set.name %>
                                                            </div>
                                                </div>
                                                <div class="mb-2 d-flex justify-content-center align-items-center"
                                                    style="height: 80px">
                                                    <img src="<%= set.logo %>" class="sets-img-custom"
                                                        alt="<%= set.name %> Logo">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <p class="">
                                                        <span> Released:
                                                            <%= set.releaseDate %>
                                                        </span><br>
                                                        <span>Total Cards: <%= set.cardCountTotal %></span>
                                                    </p>
                                                    <a href="/sets/<%= set.id %>"
                                                        class="btn btn-outline-secondary mt-auto">View
                                                        Set</a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <% }); %>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <div
                                        class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3">
                                        <% setList.forEach((set)=> { %>
                                            <div class="col">
                                                <div class="card p-3" style="height: 273px">
                                                    <div class="d-flex align-items-center mb-2">
                                                        <% if (set.symbol) { %>
                                                            <img src="<%= set.symbol %>" alt="Symbol"
                                                                class="symbol-img me-2">
                                                            <% } %>
                                                                <div class="fs-6 fw-medium">
                                                                    <%= set.name %>
                                                                </div>
                                                    </div>
                                                    <div class="mb-2 d-flex justify-content-center align-items-center"
                                                        style="height: 80px">
                                                        <img src="<%= set.logo %>" class="sets-img-custom"
                                                            alt="<%= set.name %> Logo">
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <p class="card-text mt-3">
                                                            <span> Released:
                                                                <%= set.releaseDate %>
                                                            </span><br>
                                                            <span>Total Cards: <%= set.cardCountTotal %></span>
                                                        </p>
                                                        <a href="/sets/<%= set.id %>"
                                                            class="btn btn-outline-secondary mt-auto">View
                                                            Set</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                    <% } %>
                </div>

            </div>
        </main>



        <%- include('../partials/footer.ejs') %>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- Bootstrap Bundle with Popper.js -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>

            <script>
                $(document).ready(function () {
                    const urlParams = new URLSearchParams(window.location.search);
                    const initialSort = urlParams.get('sort') || 'series_ID';
                    const initialOrder = urlParams.get('order') || 'asc';
                    const initialQuery = urlParams.get('query'); // Get initial query value

                    $('#sortBy').val(initialSort);
                    $('#sortOrder').val(initialOrder);
                    $('#search').val(initialQuery); // Set initial query value in the search box

                    $('#sortBy').change(function () {
                        const sortBy = $(this).val();
                        const currentOrder = $('#sortOrder').val();
                        const currentQuery = $('#search').val(); // Get current query value
                        window.location.search = `?sort=${sortBy}&order=${currentOrder}&query=${currentQuery}`; // Include query in URL
                    });

                    $('#sortOrder').change(function () {
                        const currentSort = $('#sortBy').val();
                        const sortOrder = $(this).val();
                        const currentQuery = $('#search').val(); // Get current query value
                        window.location.search = `?sort=${currentSort}&order=${sortOrder}&query=${currentQuery}`; // Include query in URL
                    });

                    // Function to update the sets count based on displayed sets
                    function updateSetsCount() {
                        const setsCount = $('.row .col').length; // Get the number of sets displayed
                        $('#setsCount').text(`${setsCount} Sets`); // Update the header text
                    }

                    // Call the function initially and whenever sets are updated
                    updateSetsCount();
                    $('#sortBy, #sortOrder').change(updateSetsCount);
                });
            </script>

</body>

</html>